
body {
    /*background-position: right center;*/
    background-image: url("imagenes_pagina/gangsta_principal.jpg");
    background-position: center center;
    background-repeat: initial;
}

#frmInicio
{
    background-color:#cc8023/* #a6873f*/;
    height: 200px;
    width: 400px;
    /*margin-left: 40%;
    margin-right: 40%;*/
    margin-left: auto;
    margin-right: auto;
    contain: content;
    margin-bottom: 10px;
}

ul
{
    list-style: none;
}

label
{
    display: block;
    text-align: center;
}

h2, h3 {
    text-align: center;
    
}
#frmRegistro
{
    background-color: #cc9923;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    contain: content;
}
#nick, #contra
{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    width: 200px;
}
button
{
    display: block;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    width: 207px;
    margin-top: 5px;
}